@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

/*genral settings*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: Roboto, sans-serif;
    line-height: 1.4;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*util class*/

.py-1{ padding: 1.5rem 0}
.py-2{ padding: 2rem 0}
.py-3{ padding: 3rem 0}

.px-1{ padding: 0 1.5rem }
.px-2{ padding: 0 2rem }
.px-3{ padding: 0 3rem }

.p-1{ padding: 1.5rem;}
.p-2{ padding: 2rem;}
.p-3{ padding: 3rem;}

.margin-bottom-15{
    margin-bottom: .9rem;
}
.margin-bottom-28{
    margin-bottom: 1.8rem;
}
.margin-bottom-20{
    margin-bottom: 1.2rem;
}
.margin-bottom-10{
    margin-bottom: 0.6rem;
}
.margin-top-14{
    margin-top: 0.9rem;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem .5rem;
    overflow: auto;
}
.img{
    width: 100%;
    height: 100%;
}
.title{
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.35rem;
}
.em{
    color: #555;
    font-weight: 300;
}
.text-center{ text-align: center; }
.btn{
    padding: .7rem;
    background: black;
    color: white;
    width: 46.5%;
}
.btn:hover{
    transition: background .3s;
    background: #ccc;
    color: black;
    cursor: pointer;
}
textarea{
    resize: none;
}

/*css for navbar*/

.navbar{
    display: flex;
    justify-content: space-between;
    height: 3.2rem;
    background: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar ul,.navbar i{
    display: flex;
    align-items: center;
}
.navbar ul{
    flex: 2;
}
.navbar ul li{
    padding: 0.85rem;
    font-size: 1.1rem;
}
.navbar i{
    padding: 1rem 1.5rem;
}
.navbar a:link, .navbar a:visited, .navbar i{
    color: white;
}
.navbar li:hover{
    background: #ccc;
    transition: background .3s;
    cursor: pointer;
}
.navbar li:hover a,.navbar li:hover span{
    color: black;
    
}
.navbar i:hover{
    cursor: pointer;
    background: red;
}
#menu{
    position: relative;
}
#menu:hover #sub-menu{
    display: block;
}
#sub-menu{
    background: white;
    color: black;
    display: none;
    position: absolute;
    top: 3.2rem;
    left: 0;
    box-shadow: 1px 1px 1.5px 0 #333,-1px 0 1.5px 0 #333;
}
#sub-menu li{
    display: block;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
}


#showcase{
    background: url('images/chicago.jpg') no-repeat center center/cover;
    height: 100vh;
}
#showcase .showcase-content{
    display: flex;
    color: white;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
}

/*css for the-band*/

.para{
    text-align: justify;
}
.photographers{
    display: flex;
    justify-content: space-around;
}
.photographer{
    margin: 2rem 3rem;
}
.div-img{
    border-radius: 5px;
    overflow: hidden;
    height: 170px;
}

/*css for tour*/

#tour, #tour container{
    background: black;
    color: white;
}
#tour ul li{
    background: white;   
    color: #555;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
}
#tour ul .no-bottom-border{
    border-bottom: none;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-between .tag{
    padding: 0.1rem 0.6rem;
    background: black;
    color: white;
    border-radius: 50%;
    margin-right: 1rem;
}
.sold{
    background: red;
    color: white;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;       
}
.places{
    display: flex;
}
.place{
    display: flex;
    flex-direction: column;
    height: 385px;
    margin: 0 .5rem;
}
.place div{
    flex: 1;
}
.place-img{
/*    height: 300px;*/
    background: url('images/newyork.jpg') no-repeat center center/cover;
}
.place-img2{
    background: url('images/paris.jpg') no-repeat center center/cover;
}
.place-img3{
    background: url('images/sanfran.jpg') no-repeat center center/cover;
}
.place-img:hover{
    background: #333 url('images/newyork.jpg') no-repeat center center/cover;
}
.place-img2:hover{
    background: url('images/paris.jpg') no-repeat center center/cover rgba(0,0,0,0.4) ;
}
.place-img3:hover{
    background: url('images/sanfran.jpg') no-repeat center center/cover;
}
.no-margin-left{
    margin-left: 0;
}
.no-margin-right{
    margin-right: 0;
}
.place-info{
    padding: 1rem .8rem 0;
    background: white;
    color: black;
}
.place-info p,.place-info div{
    margin-bottom: .9rem;
}
.place-name{
    font-weight: 700;
}
.place-info time{
    color: #666;
}
.contact-info{
    display: flex;
    justify-content: space-between;
}
.contact-us>div{
    flex: 1;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.address-2 .btn{
    width: 20%;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.5rem 0.6rem;
    align-self: flex-end;
}
.input2{
    flex: 2;
}
.input1{
    padding: 0.6rem;
    font-size: .9rem;
}
.address p , .address i{
    font-size: 1.1rem;
    display: inline-block;
}
.address i{
    margin-right: .8rem;
}

/*css for map*/

.map{
    background: url('images/map.jpg');
    height: 100vh;
}

/*css for footer*/

footer{
    background: white;
    text-align: center;
    color: #aaa;
    font-size: 1.5rem;
    padding: 2rem 0;
}
footer p{
    font-size: 1.2rem;
}
footer i:hover{
    color: #333;
    cursor: pointer;
}


/*Mobile CSS*/
@media(max-width: 550px){
    .navbar{
        justify-content: space-around;
        height: 2.8rem;
        font-size: 0.8rem;
    }
    .navbar ul li{
        font-size: .8rem;
    }
    #sub-menu{
        top: 2.8rem;
    }
    #sub-menu li{
        padding: 0.3rem 0.6rem;
        font-size: .8rem;
    }
    
    #the-band .para{
        padding: 0 0.8rem;
    }
    
    .photographers{
        flex-direction: column;
        padding: 0 4rem;
    }
    
    #tour .container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .places{
        flex-direction: column;
        padding: 0.5rem 4rem;    
    }
    
    .places .place{
        margin: .8rem 0;
    }
    .places .place .btn{
        width: 40%;
        text-align: center;
    }
    .contact-info{
        flex-direction: column;
        padding: 0 1rem;
    }
    .address{
        margin-bottom: 1rem;
    }
    .contact-info .inputs .text .input1{
        width: 100%;
        display: block;
    }
    .contact-info .inputs .text .name{
        margin-bottom: .8rem;
    }
    #showcase{
        background: url('images/chicago.jpg') no-repeat center center/cover;
        height: 50vh;
    }
    .map{
        height: 50vh;
    }
}